<a href="https://colab.research.google.com/github/archanaseru/datascience/blob/main/stat4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = ['aa','bb','cc','dd',]
age = [12,20,30,40,25]
print(len(name))
print(len(age))

4
5

In [ ]:
info = {
    "name" : name ,
    "age" : age
}

In [ ]:
info ["name"]

['aa', 'bb', 'cc', 'dd']

In [ ]:
type(info)

dict

In [ ]:
len(info)

2

In [ ]:
info['age']

[12, 20, 30, 40, 25]

In [ ]:
info.("keys")

SyntaxError: invalid syntax (<ipython-input-14-e88eb8403fbb>, line 1)

In [ ]:
data = {
    'A' : [1,2,3,100,5]
}

In [ ]:
import pandas as pd

In [ ]:
data = {
    'A' : [1, 2, 3, 100, 5]
}

In [ ]:
df = pd.DataFrame(data)
print(df)

     A
0    1
1    2
2    3
3  100
4    5

In [ ]:
df['mean'] = df['A'].mean()
print(df)

     A  mean
0    1  22.2
1    2  22.2
2    3  22.2
3  100  22.2
4    5  22.2

In [ ]:
df['std'] = df['A'].std()
print(df)

     A  mean        std
0    1  22.2  43.516663
1    2  22.2  43.516663
2    3  22.2  43.516663
3  100  22.2  43.516663
4    5  22.2  43.516663

In [ ]:
df['low'] = df['A'].apply(lambda x:df['A'].mean() - 3*df['A'].std())
df['high'] = df['A'].apply(lambda x:df['A'].mean() + 3*df['A'].std())
print(df)

     A  mean        std        low       high
0    1  22.2  43.516663 -108.34999  152.74999
1    2  22.2  43.516663 -108.34999  152.74999
2    3  22.2  43.516663 -108.34999  152.74999
3  100  22.2  43.516663 -108.34999  152.74999
4    5  22.2  43.516663 -108.34999  152.74999